<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PaddleBois</title>
</head>
<body>
  <form id="createPlayer">
    <label for="nickname">
      Nickname:
      <input type="text" id="nickname">
    </label>
    <button type="submit">Connect</button>
  </form>
  {{ #players.length }}
  <ul>
    {{ #players }}
    <li>{{ connectionId }} <button data-player="{{ id }}">challenge</button></li>
    {{ /players }}
  <ul>
  {{ /players.length }}
  {{ ^players.length }}
  <li>No active players</li>
  {{ /players.length }}

  {{ #games.length }}
  <ul>
    {{ #games }}
    <li>{{ id }} <button data-game="{{ id }}">join</button></li>
    {{ /games }}
    {{ ^games }}
    <li>No active games</li>
    {{ /games }}
  </ul>
  {{ /games.length }}
  <script src="index.js"></script>
</body>
</html>
